/*
Version 1.0
font-family: 'Lato', sans-serif;
Main Font black #000
Light_Gold #CEA405
Dark_Gold #8A6E03
*/



/* ------------------------------------------------------------ */
/* Basic Setup */
/* ------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}




/* ------------------------------------------------------------ */
/* Reusable Components */
/* ------------------------------------------------------------ */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ---HEADINGS--- */
h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #CEA405;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}




/* ---PARAGRAPHS--- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}




/* ---ICONS--- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #CEA405;
  margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #CEA405;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ---BUTTONS--- */
a:link,
a:visited {
    color: #CEA405;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #CEA405;
    transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ---BUTTONS--- */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #CEA405;
  border: 1px solid #CEA405;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #CEA405;
  color: #CEA405;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #8A6E03 ;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #8A6E03 ;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #8A6E03;
  color: #fff;
}




/* ------------------------------------------------------------ */
/* Hero */
/* ------------------------------------------------------------ */
.section-hero {
  text-align: center;
  height: 100vh;
}

.section-hero div {
  margin-bottom: 60px;
}

.section-hero div:last-child {
    margin-bottom: 0;
}

.copyright-box {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #333;
    padding: 10px 0 10px 0;
    font-size: 60%;
}

.copyright-box p {
    color: #888;
    text-align: center;
}

.hero {
  width: 80%;
}

/* ------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------ */
footer {
  background-color: #333;
  padding: 20px 0 20px 0;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  text-decoration: none;
  border: 0;
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
}
